body{
    background-color: #006A67;
}
H1{
    color: #000B58;
    text-align: center;
    text-decoration: underline;
}
P{
    color: #FDEB9E;
    text-align: LEFT;
    TEXT
}
A{
    text-decoration: NONE;
}
BUTTON{
    color: #FDEB9E;
    background-color: #000B58;
}
